
.hold-wrap{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.hold-cott{
    position: relative;
    top: 30%;
    left:20%;
    width: 60%;
    height: 15rem;
    border-top: .3rem solid #249d98;
    border-bottom: .3rem solid #249d98;
    color: #249d98;
    padding: 3rem 0 3rem 0;
}
.hold-cott p{
    line-height: 3rem;
    font-size: 1.7rem;
    text-align: center;
}