@charset "utf-8";

*::before,
*::after{
    box-sizing:border-box;
}
html {
    height:100%;
    width:100%;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    font-family:"PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
    line-height:1.6;
    font-size:14px;
    color:#000;
    background-color:#f6f6f6;
}

ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hgroup,p,blockquote,figure,form,fieldset,input,legend,pre,abbr,button {
    margin: 0;
    padding: 0;
}
a,
select,
button,
input {
    -webkit-appearance:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input::placeholder,
textarea::placeholder{
    color:#999;
    font-size:12px;
}
button:focus,
select:focus,
input:focus,
textarea:focus {
    outline:none;
    user-select: none;
}
li {
    list-style:none;
}
a {
    color:inherit;
    text-decoration:none;
}
table {
    width:100%;
    border-collapse:collapse;
}
td {
    padding:0 0.4em;
}
img {
    display: block;
    max-width:100%;
}
/*
 * 修复页面效果不按照指定样式渲染的bug
 */
div,
p,
a {
    max-height:9999px;
}

/*
 * weui类修改
 * weui类扩展
 */
.weui_cell_primary {
    overflow:hidden;
}
.weui_label {
    width:auto;
    padding-right:1em;
}
.weui_cell{
    padding:1.2rem;
}
.weui_cells.first {
    margin-top:0;
}
.weui_input {
    display:block;
}
.weui_msg .weui_icon_area {
    margin-bottom:12px;
}
.weui_navbar_item.active {
    color:#fff;
    background-color:#04be02;
}
.weui_navbar {
    color:#04be02;
}
.weui_btn_link {
    color:#04be02;
}

.wj-weui-cells{
    font-size: 1.3rem;
}
.wj-weui-cells:after, .wj-weui-cells:before{
    content: '';
    display: none;
}
.wj-weui-cell:before{
    display: none;

}
.wj-weui-cell{
    line-height: normal;
}
.wj-weui-cell-1px:after{
    content: " ";
    position: absolute;
    right: 0;
    bottom:0;
    width: 97%;
    height: 1px;
    color: #e9e9e9;
    z-index: 50;
    border-bottom: 1px solid #e9e9e9;
}
.wj-weui-cell-2px:after{
    content: " ";
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
    height: 5px;
    color: #e9e9e9;
    z-index: 50;
    border-bottom: 5px solid #e9e9e9;

}
.wj-wrap{
    background: #ffffff;
    overflow: hidden;
}
.wj-grey{
    color: #666666;
}
.wj-weight{
    font-weight:bold;
}
.wj-orange{
    color: #f15822;
}
.wj-yellow{
    color: #ffa10c;
}
.wj-green{
    color: #009b62;
}
.wj-btn{
    width:100%;
    box-sizing: border-box;
    padding:0 1rem;
    margin:2.6rem 0 4.5rem 0;
    text-align: center;

}

/*联系我们*/
.wj-callus{
    box-sizing: border-box;
    padding-bottom: 4.5rem;
    width:100%;
    box-shadow: #e9e9e9 0 5px;
}
.call-logo{
    box-sizing: border-box;
    padding: 6.3rem 10rem 4.2rem 10rem;
}
.call-logo img{
    width:100%;
}
.call-logo span{
    position: absolute;
    top:2rem;
    left:0;
    width:100%;
    height:0.5rem;
    background: url(../images/w-logo-top.png) no-repeat center center;
    background-size: contain;
}
.wj-call{
    font-family: "Adobe 宋体 Std L";
    font-size: 1.6rem;
    padding-left:6.5rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
}
.wj-logo{
    position: absolute;
    bottom:2.8rem;
    width:100%;
    height:3.2rem;
    background: url(../images/w-company-logo.png) no-repeat center center;
   background-size: contain;
}
.wj-logo img{
    height:100%;
}
.wj-bottom:after{
    content: "";
    background: url(../images/w-logo-top.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
    height: 0.5rem;
    color: #e9e9e9;
    z-index: 50;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    left: 0;
}
.wj-icon{
    display: block;
    width:4.8rem;
    height:4.8rem;
    margin-right: 1rem;
}
.wj-adress{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.wj-shadow{
    box-shadow: #e9e9e9 0 5px;
}
.span-width{
    text-align: right;
    width:15rem;
}
.wj-span{
    display: inline-block;
    min-height:3.35rem;
}
.wj-pay{
    color: #999;
}
.wj-pay span{
    color: #f15822;
}
.wj-weui-cells .wj-weui-top::before{
    content: "";
    background: url(../images/w-logo-top.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 0.7rem;
    z-index: 50;
}

.wj-sh-pay{
    overflow: hidden;
    padding:0 1.5rem 1.2rem 1.5rem;
    box-sizing: border-box;
    width:100%;
    background: -moz-linear-gradient(top, #ff753f 0%, #f74f2a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff753f), color-stop(100%,#f74f2a));
    background: -webkit-linear-gradient(top, #ff753f 0%,#f74f2a 100%);
    background: -o-linear-gradient(top, #ff753f 0%,#f74f2a 100%);
    background: -ms-linear-gradient(top, #ff753f 0%,#f74f2a 100%);
    background: linear-gradient(to bottom, #ff753f 0%,#f74f2a 100%);
}
.wj-sh-pay1{
    overflow: hidden;
    padding:0 1.5rem 1.2rem 1.5rem;
    box-sizing: border-box;
    width:100%;
    background: -moz-linear-gradient(top, #fa5e35 0%, #f74f2a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa5e35), color-stop(100%,#f74f2a));
    background: -webkit-linear-gradient(top, #fa5e35 0%,#f74f2a 100%);
    background: -o-linear-gradient(top, #fa5e35 0%,#f74f2a 100%);
    background: -ms-linear-gradient(top, #fa5e35 0%,#f74f2a 100%);
    background: linear-gradient(to bottom, #fa5e35 0%,#f74f2a 100%);
}
.wj-sh-pay p{
    width:100%;
    font-size: 1.2rem;
    height:4rem;
    line-height: 4rem;
    text-align: center;
    color: #ffffff;
}
.wj-money-bg{
    font-size:3rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 5.7rem;
    height:5.7rem;
    background:
    url(../images/sprite-left.png) left 0 no-repeat,
    url(../images/sprite-right.png) right 0 no-repeat,
    url(../images/sprite-center.png) repeat-x;
    background-size: contain;
}
.wj-sh-pay1 span{
    color: #ffffff;
    text-align: center;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    width:50%;
    height:100%;
    padding:1.3rem 2.5rem 0 2.5rem;
}
.wj-sh-pay1 span i{
    color: #fdccc1;
    display: block;
    font-style: normal;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}
.wj-sh-pay1 strong{
    font-size: 1.2rem;
}
.ord-list{
    width:100%;
    height:auto;
    /*padding:0 1.5rem ;*/

}
.ord-list li{
    border-bottom: 1px solid #ccc;
    line-height: 5.5rem;
    overflow: hidden;
    width:100%;
    height:5.5rem;
    padding:0 1.5rem ;
    box-sizing: border-box;
}
.ord-list li:nth-child(1){
    color: #666;
    height:3.4rem;
    line-height: 3.4rem;
}
.ord-list li a{
    overflow: hidden;
    display: block;
    width:100%;
}
.ord-list li a span{
    /*font-weight: bold;*/
    font-size: 1.2rem;
    width:25%;
    float: left;
    text-align: center;
}
.ord-list li i{
    display: block;
    font-style: normal;
}
.mu-ding a span:nth-child(1){
    line-height: normal;
    position: relative;
    top:1rem;
}
.mu-ding a span:nth-last-child(1){
    background: url(../images/wj-icon-1.png) no-repeat right center;
    background-size: 12%;
}
.wj-inp{
    font-size: 1.4rem;
    word-spacing: 0;
}
.wj-cells-form{
    background: #ffffff;
    width:100%;
    padding-top: 2rem;
    box-sizing: border-box;
    box-shadow: #e9e9e9 0 5px;
}
.wj-cells-form:before{
    content: "";
    background: url(../images/w-logo-top.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 0.7rem;
    z-index: 50;
}
.wj-cells{
    border-bottom: 1px solid #bfbfbf;
    overflow: hidden;
    padding:2rem 1.5rem;
}
.wj-cell{
    height:2.6rem;
    font-weight: bold;
    line-height:2.6rem;
    font-size: 1.4rem;
    float:left;
    margin-right:1rem;
}
.wj-inp{
    height:2.6rem;
    line-height: 2.6rem;
    float: left;
    border:none;
}
.wj-sub{
    background: #009b62;
    height:4rem;
    line-height: 4rem;
    font-size: 1.6rem;
    letter-spacing: 3px;
}
.wj-cells-form1{
    background: #ffffff;
    width:100%;
    /*padding-top: 2rem;*/
    box-sizing: border-box;
    box-shadow: #e9e9e9 0 5px;
}
.wj-cells-form1:before{
    content: "";
    background: url(../images/w-logo-top.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 0.7rem;
    z-index: 50;
}
.wj-tit{
    font-weight: 100;
    color: #009b62;
    font-size: 1.4rem;
    height:3.5rem;
    line-height: 3.5rem;
    padding-left: 4rem;
    background: url(../images/w-icon-add.png) no-repeat 1.5rem center;
    background-size: 7%;
}
.wj-btn1{
    width:100%;
    padding:0 1rem;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 3rem;

}
.wj-sub1{
    background:#009b62;
    width:48%;
    float: left;
    margin-top: 0;
}
.weui_btn+.weui_btn{
    margin-top: 0;
    float: right;
}